{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Odszyfruj wiadomość</title>
    <link rel="stylesheet" href="{% static 'eccApp/style.css' %}">
</head>
<body>
<h1>Odszyfruj wiadomość</h1>
{% if messages %}
    <div class="messages">
        {% for message in messages %}
            <p style="color: red;" class="{{ message.tags }}">{{ message }}</p>
        {% endfor %}
    </div>
{% endif %}
<form method="post">
    {% csrf_token %}
    {{ form.receiver.label_tag }} {{ form.receiver }}
    {{ form.privkey.label_tag }} {{ form.privkey }}
    <h2>Parametry krzywej</h2>
    {{ form.curve_p.label_tag }} {{ form.curve_p }}
    {{ form.curve_a.label_tag }} {{ form.curve_a }}
    {{ form.curve_b.label_tag }} {{ form.curve_b }}

    <h2>Punkt bazowy</h2>
    {{ form.g_x.label_tag }} {{ form.g_x }}
    {{ form.g_y.label_tag }} {{ form.g_y }}

    <h2>Pierwszy punkt szyfrogramu</h2>
    {{ form.c1_x.label_tag }} {{ form.c1_x }}
    {{ form.c1_y.label_tag }} {{ form.c1_y }}

    <h2>Drugi punkt szyfrogramu</h2>
    {{ form.c2_x.label_tag }} {{ form.c2_x }}
    {{ form.c2_y.label_tag }} {{ form.c2_y }}

    <button type="submit">Odszyfruj wiadomość</button>
</form>
<br>
<a href="{% url 'elgamal_page' %}"><button>Wstecz</button></a>
</body>
</html>
