{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Algorytm ElGamala</title>
    <link rel="stylesheet" href="{% static 'eccApp/style.css' %}">
</head>
<body>
<h1>Algorytm ElGamala</h1>
<a href="{% url 'elgamal_encrypt' %}"><button>Zaszyfruj wiadomość</button></a>
<a href="{% url 'elgamal_messages' %}"><button>Zaszyfrowane wiadomości</button></a>
<a href="{% url 'elgamal_decrypt' %}"><button>Odszyfruj wiadomość</button></a>
<a href="{% url 'generate_keys' %}"><button>Generuj klucze i parametry użytkownika</button></a>
<a href="{% url 'users' %}"><button>Użytkownicy</button></a>
<a href="{% url 'home_page' %}"><button>Wstecz</button></a>
</body>
</html>
