{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Gamal algorithm</title>
    <link rel="stylesheet" href="{% static 'eccApp/style.css' %}">
</head>
<body>
<h1>ElGamal algorithm</h1>
<a href="{% url 'elgamal_encrypt' %}"><button>Encrypt Message</button></a>
<a href="{% url 'elgamal_messages' %}"><button>Encrypted Messages</button></a>
<a href="{% url 'elgamal_decrypt' %}"><button>Decrypt Message</button></a>
<a href="{% url 'generate_keys' %}"><button>Generate user keys and parameters</button></a>
<a href="{% url 'users' %}"><button>Users</button></a>
<a href="{% url 'home_page' %}"><button>Go back</button></a>
</body>
</html>
