{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zastosowania krzywych eliptycznych</title>
    <link rel="stylesheet" href="{% static 'eccApp/style.css' %}">
</head>
<body>
<h1>Zastosowania krzywych eliptycznych</h1>
<a href="{% url 'elgamal_page' %}"><button>Algorytm ElGamala</button></a>
<a href="{% url 'ecdsa_page' %}"><button>Algorytm ECDSA</button></a>
<a href="{% url 'lenstra_page' %}"><button>Algorytm faktoryzacji Lenstry</button></a>
<a href="{% url 'curve_operations' %}"><button>Operacje na krzywych</button></a>
</body>
</html>
