{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wielokrotność punktu</title>
    <link rel="stylesheet" href="{% static 'eccApp/style.css' %}">
</head>
<body>
<h1>Wielokrotność punktu</h1>
{% if error_message %}
    <p style="color: red;">{{ error_message }}</p>
{% endif %}
<form method="post">
    {% csrf_token %}
    <h2>Parametry krzywej</h2>
    {{ form.curve_p.label_tag }} {{ form.curve_p }}
    {{ form.curve_a.label_tag }} {{ form.curve_a }}
    {{ form.curve_b.label_tag }} {{ form.curve_b }}

    <h2>Współrzędne punktu</h2>
    {{ form.p_x.label_tag }} {{ form.p_x }}
    {{ form.p_y.label_tag }} {{ form.p_y }}

    <h2>Współczynnik mnożenia</h2>
    {{ form.multiplier.label_tag }} {{ form.multiplier }}

    <button type="submit">Oblicz</button>
</form>

{% if result %}
    <h2>Wynik</h2>
    <p>P = ({{ point_p.x }}, {{ point_p.y }})</p>
    <p>k = {{ multiplier }}</p>
    <p>kP =
        {% if result.is_infinity %}
            Punkt w nieskończoności
        {% else %}
            ({{ result.x }}, {{ result.y }})
        {% endif %}
    </p>

    {% if plot_url %}
        <img src="data:image/png;base64,{{ plot_url }}" alt="Elliptic Curve Plot">
    {% endif %}
{% endif %}

<br>
<a href="{% url 'curve_operations' %}"><button>Wstecz</button></a>

</body>
</html>
